.signin {
    width: 400px;
    display: flex;
    flex-direction: column;
    .title {
        margin: 10px 0;
    }
    .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 25px;
    }
}